<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moscowcoders">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoscowCoders">

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.MoscowCoders.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".EgorCode.ForgotPasswordActivity"
            android:theme="@style/Theme.MoscowCoders.NoActionBar">
            android:label = "ForgotPasswordActivity">
        </activity>

        <activity
            android:name=".EgorCode.ForgotPasswordActivity2"
            android:theme="@style/Theme.MoscowCoders.NoActionBar">
            android:label = "ForgotPasswordActivity2">
        </activity>

        <activity
            android:name=".EgorCode.EgorMainActivity"
            android:theme="@style/Theme.MoscowCoders.NoActionBar">
            android:label = "RecordsActivity">
        </activity>

    </application>

</manifest>